@import url('https://fonts.googleapis.com/css?family=Heebo');

body{
    background: #f9fcfa;
    padding-top: 50px;
    margin: 0;
    font-family: "Heebo", sans-serif;
    font-style: normal;
    font-weight: 200;
}
h1, h2, h3{
    margin: 0;
    line-height: normal;
    font-weight: 400;
}
h1{
    line-height: 30px;
    margin: 0 0 20px;
    font-size: 2em;
    color: #222222;
}
h3{
    font-size: 1.3em;
    margin: 0 0 15px;
}
main{
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 92vh;
}
.wrapper{
    grid-column-start: 2;
    /*
    display: flex;
    justify-content: center;
    */
    padding: 30px 20px;
}

/* header */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    min-height: 50px;
    border-bottom: 1px solid #ECEDF2;
    box-shadow: 0 2px 16px rgba(0,0,0,0.05);
    z-index: 2;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
.user-container{
    position: absolute;
    bottom: 20;
    left: 20;
}
#username{
    color: #676767;
    font-weight: 700;
}
.user-container a{
    color: #676767;
    text-decoration: none;
}

/* sidebar */
.sidebar{
    grid-column-start: 1;
    background: #fff;
    border-right: 1px #ECEDF2 solid;
    padding: 30px 0;
}
.sidebar-header{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    padding: 0 20px;
    color: #74bd83;
}
/* navigation */
nav{
    padding: 10px 0;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li a{
    display:block;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    /*    border: 1px red solid;*/
    border-left: 4px solid transparent;
    padding: 8px 0 8px 50px;
    box-sizing: content-box;
}
nav ul li a{
    color: #676767;
    text-decoration: none;
}
nav ul li a:hover{
    background: #ecf6ee;
    border-left: 4px solid #74bd83;
}
.nav-link.active a{
    background: #F8F8F8;
    border-left: 4px solid #74bd83;
}
.nav-link.active a{
    color: #74bd83;
}

/* list */
.list{
    width: 1100px;
}
.list-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    margin: 0 0 20px;
}
.list-header h1{
    margin: 0;
}
.list-search{
    margin: 20px 0;
    display: flex;
    vertical-align: middle;
    color: #5a5a5a;
    font-weight: 700;
}
#patient-search{
    display: inline-block;
    width: 300px;
    padding: 10px 10px;
    font-size: 0.9em;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
}
.patients, .appointments{
    border: 1px solid #ECEDF2;
}
.patient, .patients-headers, .patient-result, .appointments-headers, .appointment{
    display: flex;
}
.patients-headers, .appointments-headers{
    padding: 10px 30px;
    background: #fff;
    font-size: 0.8em;
    /*    text-transform: uppercase;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #ECEDF2;
}
.patients-headers span, .appointments-headers span{
    color: #808080;
    font-weight: 700;
}
.patient, .patient-result, .appointment{
    background: #fff;
    padding: 15px 30px;
    border-bottom: 1px solid #ECEDF2;
    font-size: 0.9em;
}
.patient-name, .patients-header-name{
    width: 250px;
}
.patient-address, .patients-header-address{
    width: 450px;
}
.patient-mobile, .patients-header-mobile{
    width: 120px;
}
.patient-dob, .patients-header-dob{
    width: 120px;
}
.patient-gender, .patients-header-gender{
    width: 100px;
}
.patient > span, .patient-result > span, .appointment > span{
    color: #676767;
}
.patient-name a{
    color: #676767;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    /*    margin: 0 0 0 10px;*/
}
.patients-details .patient:last-child, .appointments-details .appointment:last-child{
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.patient-gender{
    text-transform: capitalize;
}
.patient:hover, .patient-result:hover{
    background: #ecf6ee;
    cursor: pointer;
}
.patient-error{
    margin: 0 auto;
}
/* pagination */
.pagination-container{
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.pagination{
    list-style: none;
    margin: 0;
    padding: 0;
    margin: auto;
}
.pagination li{
    display: inline-block;
    font-size: 0.9em;
}
.pagination li a, .pagination .active, .pagination .disabled{
    display: block;
    height: 30px;
    width: 30px;
    background: #ECEDF2;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: #676767;
}
.pagination li a:hover{
    background: #dcefe0;
}
.pagination .active{
    display: inline-block;
    background: #74bd83;
    color: #fff;
}
.pagination .disabled{
    display: inline-block;
}
.results-count{
    margin: 0 0 0 auto;
    font-size: 0.9em;
    color: #676767;
    position: absolute;
    top: 5;
    right: 0;
}
#display-count{
    font-weight: 700;
    color: #74bd83;
}

/* register */
.register, .book{
    width: 600px;
}
.form-controls{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 0 0 20px;
    position: relative;
}
.form-control label{
    display: block;
    color: #676767;
    font-size: 0.8em;
    /*    text-transform: uppercase;*/
    font-weight: 700;
    margin: 0 0 5px;
}
.form-control input, .form-control select, .form-control textarea{
    display: inline-block;
    width: 300px;
    padding: 10px 10px;
    font-size: 1em;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
}
.example{
    font-size: 0.8em;
    color: #A8A8A8;
    margin: 0 0 0 20px;
}
#dob-controls{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.dob-control #day, .dob-control #month, .dob-control #year{
    text-align: center;
}
.dob-control{
    display: flex;
    align-items: center;
}
.dob-control #day, .dob-control #month{
    width: 50px;
}
.dob-control #year{
    width: 80px;
}
.gender-controls{
    display: flex;
    width: 300px;
    border-radius: 5px;
}
.gender-controls label{
    color: #000;
    cursor: pointer;
}
.gender-controls .form-radio{
    display: inline;
    width: 30px;
    margin: 15 0 0 15px;
}
#gender-controls label:nth-child(1) .form-radio{
    margin: 15 0 0 0;
}
.register form .form-controls .form-control:nth-child(3){
    grid-column: 1 / span 2;
}
.register form .form-controls .form-control:nth-child(3) input{
    width: 620px;
}
.form-control input:focus, .form-control select:focus, #patient-search:focus, .form-control textarea:focus{
    border: #74bd83 1px solid;
    outline: none;
}
#register-btn, #book-btn, #login-btn{
    background: #74bd83;
    border: none;
    border-radius: 10px;
    color: #fff;
    width: 150px;
    padding: 10px 10px;
    font-size: 1em;
    margin: 30px 0;
    cursor: pointer;
}
#register-btn:hover, #book-btn:hover, #login-btn:hover{
    background: #52ac64;
}
#register-btn:focus, #delete-btn:focus, #update-btn:focus, #book-btn:focus, #login-btn:focus{
    outline: none;
}
.form-error{
    color: #ff0000;
    display: block;
    font-size: 0.8em;
    margin: 2px 0 0 0;
}
.form-control.error input, .dob-control.error input, .gender-controls.error, .form-control.error select{
    border: 1px solid #ff0000;
    background: #ffebeb;
}
.form-control.error input:focus, .form-control.error select:focus{
    outline: none;
}
#form-register-doc{
    border-top: 1px solid #DCDCDC;
    padding: 20px 0;
    margin: 30px 0 0 0;
    width: 620px;
}
.register-form .form-control:nth-child(1), .register-form .form-control:nth-child(2){
    padding: 20px 0 0 0;
}
/* details */
.details-container{
    display: grid;
    width: 1100px;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}
.details-header{
    display: flex;
    justify-content: flex-start;
    width: 1100px;
}
.details-patient{
    grid-column: 1;
    background: #fff;
    border: 1px solid #ECEDF2;
    border-radius: 5px;
    padding: 20px;
    color: #676767;
}
.details-patient-name{
    margin: 0 0 20px;
}
.details-appointment{
    grid-column: 2;
}
.details-gender, .details-age, .details-dob, .details-contact, .details-address{
    margin: 0 0 10px;
}
.details-label{
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
    color: #676767;
    width: 40%;
}
.details-gender span:nth-child(2){
    text-transform: capitalize;
}
.details-address span:nth-child(2){
    display: block;
    margin: 5px 0 0 20px;
}
#update-btn, #delete-btn{
    display: inline-block;
    height: 30px;
    width: 70px;
    background: #74bd83;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 0.9em;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
}
#update-btn{
    background: #0080ff;
    margin: 0 10px 0 auto;
}
#delete-btn{
    background: #ff0000;
}
/* book */
#form-patient-id{
    grid-column: 1 / span 2;
    border-bottom: 1px solid #DCDCDC;
    padding: 20px 0;
    display: flex;
}
#form-patient-id input{
    width: 278px;
}
#form-patient-id div:nth-child(2){
    margin: 0 0 0 20px;
}
.form-control-time{
    display: flex;
}
.form-control-time .form-control input, #form-book-date input{
    width: 140px;
    font-family: "Heebo", sans-serif;
    font-size: 1em;
    height: 40px;
    vertical-align: middle;
}
.form-control-time .form-control:nth-child(2){
    margin: 0 0 0 20px;
}
#form-notes{
    grid-column: 1 / span 2;
    position: relative;
}
.form-control textarea{
    width: 600px;
    font-size: 1em;
    font-family: "Heebo", sans-serif;
}
#char-count{
    position: absolute;
    bottom: -25;
    right: 0;
    font-size: 0.9em;
    color: #676767;
}
.book-patient-details span{
    display: block;
    color: #676767;
    font-size: 0.9em;
}
#book-patient-name{
    font-weight: 700;
}
#form-book-doctor{
    border-top: 1px solid #DCDCDC;
    padding: 20px 0;
    margin: 30px 0 0 0;
}
#form-book-date input{
    width: 280px;
}
#book-patient-error{
    margin: 33px 0 0 0;
}

/* login */
#login-form .form-control{
    margin: 10px 0 0 0;
}

/* appointments */
.appointments-header-date, .appointment-date{
    width: 100px;
}
.appointments-header-start, .appointments-header-end, .appointment-start, .appointment-end{
    width: 60px;
}
.appointments-header-patient, .appointment-patient{
    width: 250px;
    font-weight: 700;
}
.appointments-header-notes, .appointment-notes{
    width: 400px;
}
.appointments-header-status, .appointment-status{
    width: 100px;
}
.appointment-due{
    background: #f1b517;
    color: #fff !important;
    padding: 2px 10px;
    border-radius:10px;
}
.appointment-in-progress{
    background: #b517f1;
    color: #fff !important;
    padding: 2px 10px;
    border-radius:10px;
}
.appointment-complete{
    background: #17f17f;
    color: #fff !important;
    padding: 2px 10px;
    border-radius:10px;
}
#cancel-btn{
    margin: 0 0 0 auto;
    color: #676767;
    text-decoration: none;
}
#cancel-btn:hover{
    color: #ff0000;
}
